<div class='wrapper'>
  {{{PART_HEADER}}}
  <div class='message-wrapper'>
    <div class='message-container'>
      <h3 class='h3 mt-10'>{{{STR_GREETINGS}}}</h3>
      <h4 class='h4'>{{{STR_YOU_ACCOUNT_CREATED}}}</h4>
      <div class='avatar'> <img src='{{{IMG_AVATAR_PNG}}}' /></div>
      <h4 class='h4'>{{{STR_GLAD_TO_SEE}}}</h4>
      <span class='label'>{{{STR_CONFIRM_YOUR_EMAIL}}}:</span>
      <div>
        <a href="{{{LINK_VERIFY_EMAIL_LINK}}}" class='button button-large mt-10'>{{{STR_BUTTON_CONFIRM_MY_EMAIL}}}</a>
      </div>
      <div data-email="password-block">
        <p class='paragraph mt-20'>{{{STR_YOUR_PASSWORD}}}</p>
        <span class='label mt-10'>{{{STR_CHANGE_PASSWORD}}}</span>
        <div>
          <a href="{{{LINK_CHANGE_PASSWORD_LINK}}}" class='button button-large mt-10'>{{{STR_BUTTON_CHANGE_PASSWORD}}}</a>
        </div>
      </div>
      <p class='paragraph mt-30 mb-20'>{{{STR_BEST_REGARDS}}}</p>
    </div>
    {{{PART_FOOTER}}}
  </div>
</div>