<div class='message-body'>
  <div class='mb-10'>
    <img src='{{{IMG_MENU_PNG}}}' class='h-33px va-t' />
    <div class='message-body mt-10 ml-10 d-ib w-73'>
      <div class='premium-text m-0'>{{{STR_DO_AT_RESTAURANT}}}</div>
      <p class="base-text">{{{STR_DO_AT_RESTAURANT_DESC}}} <a href={{{LINK_OPEN_BLOG_LINK}}} class='read-more-link'>{{{STR_READ_MORE}}}</a></p>
    </div>
  </div>
  <div class='mb-10'>
    <img src='{{{IMG_SCALE_PNG}}}' class='h-30px va-t' />
    <div class='message-body mt-10 ml-10 d-ib w-73'>
      <div class='premium-text m-0'>{{{STR_WEIGHT_MYSELF}}}</div>
      <p class="base-text">{{{STR_WEIGHT_MYSELF_DESC}}} <a href={{{LINK_OPEN_BLOG_LINK}}} class='read-more-link'>{{{STR_READ_MORE}}}</a></p>
    </div>
  </div>
  <div class='mb-10'>
    <img src='{{{IMG_CALORIES_PNG}}}' class='h-33px va-t' />
    <div class='message-body mt-10 ml-10 d-ib w-73'>
      <div class='premium-text m-0'>{{{STR_CALORIE_RIGHT}}}</div>
      <p class="base-text">{{{STR_CALORIE_RIGHT_DESC}}} <a href={{{LINK_OPEN_BLOG_LINK}}} class='read-more-link'>{{{STR_READ_MORE}}}</a></p>
    </div>
  </div>
</div>