 <div class='news-wrapper'>
   <div class=' award-background'>
     <div class='award-round'>
       <img src='{{{STR_VAR_ICON}}}' class='award' />
       <div class='award-crown'> <span class='level'>3</span></div>
     </div>
   </div>
   <div class='message-container'>
     <h3 class='h3 ta-c mt-20'>{{{STR_LEVEL_AWARD}}}</h3>
     <div class="base-text p-15 mt-10 ta-c">{{{STR_LEVEL_AWARD_DESC}}}</div>
     <div data-news="confirm" class='button-news purple-pale-dark mt-20'>{{{STR_OPEN_REWARDS}}}</div>
   </div>
 </div>