 <div class='news-wrapper'>
   <div class='news-head lime''>
     <img src=' {{{IMG_ENERGY_PNG}}}' class='mt-3' />
 </div>
 <div class='message-container'>
   <h3 class='h3 ta-c mt-20'>{{{STR_ENERGY_FLOW}}}</h3>
   <div class="base-text p-15 mt-10 ta-c">{{{STR_ENERGY_FLOW_DESC}}}</div>
   <div data-news="confirm" class='button-news green-plus mt-20'>{{{STR_READ_MORE}}}</div>
   <div data-news="cancel" class='later ta-c mt-10'>{{{STR_LATER}}}</div>
 </div>