<div class='footer'>
  <div class='message-body pb-15'>
    <h3 class='h3 mb-10 mt-20'>{{{STR_FIRST_STEPS}}}</h3>
    <p class="base-text mt-5">{{{STR_FIRST_STEPS_DESC}}}</p>

    <div class='mt-10'>
      <div class='d-ib'>
        <div class='steps-item'><span>1</span></div>
      </div>
      <div class='d-ib w-73 va-t mt-5 ml-10 mb-20'>
        <div class='steps-text'>{{{STR_ADDING_FOOD}}}</div>
        <div class="base-text p-0 d-ib">{{{STR_ADDING_FOOD_DESC}}}</div>
      </div>
    </div>
    <div class='mt-10'>
      <div class='d-ib'>
        <div class='steps-item'><span>2</span></div>
      </div>
      <div class='d-ib w-73 va-t mt-5 ml-10 mb-20'>
        <div class='steps-text'>{{{STR_ADD_FAVORITES}}}</div>
        <div class="base-text p-0 d-ib">{{{STR_ADD_FAVORITES_DESC}}}</div>
      </div>
    </div>
    <div class='mt-10'>
      <div class='d-ib'>
        <div class='steps-item'><span>3</span></div>
      </div>
      <div class='d-ib w-73 va-t mt-5 ml-10'>
        <div class='steps-text'>{{{STR_CREATE_OWN_CONTENT}}}</div>
        <div class="base-text p-0 d-ib">{{{STR_CREATE_OWN_CONTENT_DESC}}}</div>
      </div>
    </div>
  </div>
</div>