<div class='footer'>
  <p class='base-text'>{{{STR_DOWNLOAD_OUR_APP}}}</p>
  <div>
    <a href="https://apps.apple.com/app/id1493843348"> <img class='links-shop' src='{{{IMG_STORE_PNG}}}' /></a>
    <a href="https://play.google.com/store/apps/details?id=com.nginel.yamfit"> <img class='links-shop' src='{{{IMG_PLAY_PNG}}}' /> </a>
  </div>
  <p class='base-text'>{{{STR_FOOTER_TEXT}}}</p>
  <div class='social-links'>
    <a href="https://yamfit.com" class='social-item'> <img src='{{{IMG_HOME_PNG}}}' /></a>
    <a href="https://twitter.com/yamfitt" class='social-item'> <img src='{{{IMG_TWITTER_PNG}}}' /></a>
    <a href="https://www.youtube.com/channel/UCfgm_iW0fjU3LgKJ57pjUyw" class='social-item'> <img src='{{{IMG_YOUTUBE_PNG}}}' /></a>
    <a href="https://www.instagram.com/yamfitt" class='social-item'> <img src='{{{IMG_INSTAGRAM_PNG}}}' /></a>
    <a href="https://www.facebook.com/yamfitt" class='social-item'> <img src='{{{IMG_FACEBOOK_PNG}}}' /></a>
  </div>
</div>
<div class='footer'>
  <p class='small-text '> {{{STR_PRIVACY_POLICY}}}</p>
  <a href='{{{LINK_MANAGE_EMAILS_LINK}}}' class='yamfit-link small-text'> {{{STR_UNSUBSCRIBE}}}</a>
</div>