<div class='mb-10'>
  <img src='{{{IMG_CROWN_PNG}}}' class='h-33px va-t' />
  <div class='mt-10 ml-10 d-ib w-75'>
    <div class='ml-15 premium-text m-0'>{{{STR_PREMIUM_CONTENT}}}</div>
    <p class="base-text">{{{STR_PREMIUM_CONTENT_DESC}}}</p>
  </div>
</div>
<div class='mb-10'>
  <img src='{{{IMG_RESEARCH_PNG}}}' class='h-33px va-t' />
  <div class='mt-10 ml-10  d-ib w-75'>
    <div class='ml-15 premium-text m-0'>{{{STR_EXTENDED_PLANNING}}}</div>
    <p class="base-text">{{{STR_EXTENDED_PLANNING_DESC}}}</p>
  </div>
</div>
<div class='mb-10'>
  <img src='{{{IMG_ANALYTICS_PNG}}}' class='h-33px va-t' />
  <div class='mt-10 ml-10  d-ib w-75'>
    <div class='ml-15 premium-text m-0'>{{{STR_PREMIUM_SUPPORT}}}</div>
    <p class="base-text">{{{STR_PREMIUM_SUPPORT_DESC}}}</p>