 <div class='header-wrapper'>
   <div class='header'>
     <a href="https://yamfit.com">
       <div class='header-logo'> <img src='{{{IMG_HEADER-LOGO_PNG}}}' />
       </div>
       <div class='logo-name'>Yamfit</div>
     </a>
   </div>
 </div>