<div class='message-body'>
  <div class='mb-10'>
    <img src='{{{IMG_NUTRI_PNG}}}' class='h-33px va-t' />
    <div class='message-body mt-10 ml-10 d-ib w-73'>
      <div class='ml-15 premium-text m-0'>{{{STR_HEALTHY_HABBITS}}}</div>
      <p class="base-text">{{{STR_HEALTHY_HABBITS_DESC}}} <a href='{{{LINK_OPEN_BLOG_LINK}}}' class='read-more-link'>{{{STR_READ_MORE}}}</a></p>
    </div>
  </div>
  <div class='mb-10'>
    <img src='{{{IMG_FAST-FOOD_PNG}}}' class='h-30px va-t' />
    <div class='message-body mt-10 ml-10 d-ib w-73'>
      <div class='ml-15 premium-text m-0'>{{{STR_FIND_DIETS}}}</div>
      <p class="base-text">{{{STR_FIND_DIETS_DESC}}} <a href='{{{LINK_OPEN_BLOG_LINK}}}' class='read-more-link'>{{{STR_READ_MORE}}}</a></p>
    </div>
  </div>
  <div class='mb-10'>
    <img src='{{{IMG_MEASURING_PNG}}}' class='h-33px va-t' />
    <div class='message-body mt-10 ml-10 d-ib w-73'>
      <div class='ml-15 premium-text m-0'>{{{STR_NUTRITION_NOTES}}}</div>
      <p class="base-text">{{{STR_NUTRITION_NOTES_DESC}}} <a href='{{{LINK_OPEN_BLOG_LINK}}}' class='read-more-link'>{{{STR_READ_MORE}}}</a></p>
    </div>
  </div>
</div>