<div class='message-body mt-6'>
  <div class='join-intro'></div>
  <div class='message-container'>
    <h3 class='h3 ta-c'>{{{STR_JOIN_FAMILY}}}</h3>
    <p class="base-text p-15">{{{STR_JOIN_FAMILY_DESC}}}</p>
  </div>
</div>