<div class='wrapper'>
  {{{PART_HEADER}}}
  <div class='message-wrapper'>
    <div class='message-body'>
      <div class='message-container'>
        <h3 class='h3 mt-10'>{{{STR_AUTHORIZATION_ATTEMPT}}}</h3>
        <div class='avatar mt-20'> <img src='{{{IMG_ATTEMPT_MAIL_PNG}}}' /></div>
        <p class="base-text">{{{STR_AUTHORIZATION_ATTEMPT_DESC}}}</p>
        <div class="attempt-code">{{{STR_CODE}}}</div>
        <p class="base-text">{{{STR_ATTEMPT_IGNORE}}}</p>
      </div>
      {{{PART_FOOTER}}}
    </div>