<div class='news-wrapper'>
  <div class='news-head purple-main ai-c jc-c''>
     <img class=' yamfit' src=' {{{IMG_YAMFIT_PNG}}}' />
</div>
<div class='message-container'>
  <h3 class='h3 ta-c mt-20'>{{{STR_YAMFIT_VERSION}}}</h3>
  <div class="base-text p-15 mt-10 ta-c">
    {{{STR_LIST_VERSION}}}
  </div>
  <div data-news="confirm" class='button-news  purple-main mt-20'>{{{STR_UPDATE}}}</div>
  <div data-news="cancel" class='later ta-c mt-10'>{{{STR_LATER}}}</div>
</div>