<div class='wrapper'>
  {{{PART_HEADER}}}
  <div class='message-wrapper'>
    <div class='message-body'>
      <div class='message-container'>
        <h3 class='h3 mt-10'>{{{STR_PASSWORD_RECOVERY}}}</h3>
        <div class='avatar mt-20'> <img src='{{{IMG_PASSWORD_PNG}}}' /></div>
        <p class="base-text">{{{STR_PASSWORD_DESC}}}</p>
        <a href='{{{LINK_CHANGE_PASSWORD_LINK}}}' class='button button-large mt-10'>{{{STR_BUTTON_CHANGE_PASSWORD}}}</a>
      </div>
      {{{PART_FOOTER}}}
    </div>