 <div class='news-wrapper'>
   <div class='news-head blue-gray''>
     <img src=' {{{IMG_FOOD_PNG}}}' class='mt-3' />
 </div>
 <div class='message-container'>
   <h3 class='h3 ta-c mt-20'>{{{STR_PERSONALIZE_DIET}}}</h3>
   <div class="base-text p-15 mt-10 ta-c">{{{STR_PERSONALIZE_DIET_DESC}}}</div>
   <div data-news="confirm" class='button-news blue-gray-dark mt-20'>{{{STR_PERSONALIZE}}}</div>
   <div data-news="cancel" class='later ta-c mt-10'>{{{STR_LATER}}}</div>
 </div>