<div class='wrapper'>
  {{{PART_HEADER}}}
  <div class='message-wrapper'>
    <div class='message-body'>
      <div class='message-container'>
        <h3 class='h3 mt-10'>{{{STR_SALE_PREMIUM}}}</h3>
        <div class='avatar mt-20'> <img src='{{{IMG_TROPHY_PNG}}}' /></div>
        <p class="base-text">{{{STR_GIFT_SALE}}}</p>
        <a href='{{{LINK_OPEN_PREMIUM_LINK}}}' class='button button-large mt-10 mb-10'>{{{STR_USE_DISCOUNT}}}</a>
      </div>
      <div class=' footer'>
        <h3 class='h3 mt-10 pb-15'>{{{STR_WHY_GO_PREMIUM}}}</h3>
        {{{PART_GIFT_FOR_PRO}}}
      </div>
      <div class='footer'>
        <h3 class='h3 mb-10 mt-20'>{{{STR_PREMIUM_FEATURES}}}</h3>
        {{{PART_PREMIUM_DESC}}}
      </div>
      <div class='footer'>
        <p class="base-text">{{{STR_SUPERCHARGE_WEIGHT}}}</p>
      </div>
      {{{PART_FOOTER}}}
    </div>
  </div>