<div class='message-body'>
  <div class='mb-10'>
    <div class='premium-item'><img class='premium-item-image' src='{{{IMG_CROWN_PNG}}}' /></div>
    <div class='ml-15 premium-text w-70'>{{{STR_PREMIUM_CONTENT}}}</div>
  </div>
  <div class='mb-10'>
    <div class='premium-item'><img class='premium-item-image' src='{{{IMG_RESEARCH_PNG}}}' /></div>
    <div class='ml-15 premium-text w-70'>{{{STR_TRACKUP_BEVERAGE_TYPES}}}</div>
  </div>
  <div class='mb-10'>
    <div class='premium-item'><img class='premium-item-image' src='{{{IMG_MEASURING_PNG}}}' /></div>
    <div class='ml-15 premium-text w-70'>{{{STR_TRACKUP_METRIC_TYPES}}}</div>
  </div>
  <div class='mb-10'>
    <div class='premium-item'><img class='premium-item-image' src='{{{IMG_PRODUCT-BASKET_PNG}}}' /></div>
    <div class='ml-15 premium-text w-70'>{{{STR_GROCERY_UNLIMITED}}}</div>
  </div>
  <div class='mb-10'>
    <div class='premium-item'><img class="cook" src='{{{IMG_COOK_PNG}}}' /></div>
    <div class='ml-15 premium-text w-70'>{{{STR_COOKING_LIST}}}</div>
  </div>
  <div class='mb-10'>
    <div class='premium-item'><img class='premium-item-image' src='{{{IMG_CALENDAR_PNG}}}' /></div>
    <div class='ml-15 premium-text w-70'>{{{STR_DIET_PLANNING_LENGTH}}}</div>
  </div>
  <div class='mb-10'>
    <div class='premium-item'><img class='premium-item-image' src='{{{IMG_ANALYTICS_PNG}}}' /></div>
    <div class='ml-15 premium-text w-70'>{{{STR_ANALYSIS}}}</div>
  </div>
  <div class='mb-10'>
    <div class='premium-item'><img src='{{{IMG_MEDIA_PNG}}}' class="media" /></div>
    <div class='ml-15 premium-text w-70'>{{{STR_FAVORITES_HISTORY}}}</div>
  </div>
  <a href='{{{LINK_OPEN_PREMIUM_LINK}}}' class='button button-large mt-30 mb-10'>{{{STR_STAY_PREMIUM}}}</a>