 <div class='news-wrapper'>
   <div class='news-head purple-shine''>
     <img src=' {{{IMG_GOAL_PNG}}}' class='mt-3' />
 </div>
 <div class='message-container'>
   <h3 class='h3 ta-c mt-20'>{{{STR_PROGRESS_CONTROLLER}}}</h3>
   <div class="base-text p-15 mt-10 ta-c">{{{STR_PROGRESS_CONTROLLER_DESC}}}</div>
   <div data-news="confirm" class='button-news purple-button mt-20'>{{{STR_SETUP_WEIGHT_IN}}}</div>
   <div data-news="cancel" class='later ta-c mt-10'>{{{STR_LATER}}}</div>
 </div>