 <div class='news-wrapper'>
   <div class='news-head light-blue p-15'>
     <img src='{{{IMG_PEA_PNG}}}' class='d-ib h-90' />
     <div class='equal'>=</div>
     <img src='{{{IMG_GEM_PNG}}}' class='d-ib h-90' />
   </div>
   <div class='message-container'>
     <h3 class='h3 ta-c mt-20'>{{{STR_REFERRAL_ACCEPTED}}}</h3>
     <div class="base-text p-15 mt-10 ta-c">{{{STR_REFERRAL_ACCEPTED_DESC}}} <img class='gem-mini' src='{{{IMG_GEM_PNG}}}' /></div>
     <div data-news="confirm" class='button-news blue mt-20'>{{{STR_LEARN_MORE}}}</div>
     <div data-news="cancel" class='later ta-c mt-10'>{{{STR_LATER}}}</div>
   </div>