 <div class='news-wrapper'>
   <div class='news-head purple-flow ai-c jc-c'>
     <div class=' footer-wrapper ai-c'>
       <img src=' {{{IMG_HEALTH_FLOW_PNG}}}' />
     </div>
   </div>
   <div class='message-container'>
     <h3 class='h3 ta-c mt-20'>{{{STR_KEEP_THE_HEALTH_FLOW}}}</h3>
     <div class="base-text p-15 mt-10 ta-c">{{{STR_KEEP_THE_HEALTH_FLOW_DESC}}}</div>
     <div data-news="confirm" class='button-news  purple-main mt-20'>{{{STR_START}}}</div>
     <div data-news="cancel" class='later ta-c mt-10'>{{{STR_LATER}}}</div>
   </div>
