 <div class='wrapper'>
   {{{PART_HEADER}}}
   <div class='message-wrapper'>
     <div class='message-body'>
       <div class='message-container'>
         <h3 class='h3 mb-10 mt-25 pb-15'>{{{STR_NO_STOP_HEALTH_FLOW}}}</h3>
         <div class='join'> <img src='{{{IMG_HEALTH-FLOW_PNG}}}' /></div>
         <p class="base-text mt-10">{{{STR_RENEW_MEMBERSHIP}}}</p>
         <a href='{{{LINK_OPEN_PREMIUM_LINK}}}' class='button button-large mt-10 mb-10'>{{{STR_RENEW_NOW}}}</a>
       </div>
       <div class='footer'>
         <h3 class='h3 mb-10 mt-25'> {{{STR_NO_RENEW}}}</h3>
         {{{PART_GIFT_FOR_PRO}}}
         <a href='{{{LINK_OPEN_PREMIUM_LINK}}}' class='button button-large mt-10 mb-10'>{{{STR_RENEW_NOW}}}</a>
       </div>
       <div class='footer mt-10'>
         <h3 class='h3 mb-20 mt-20'>{{{STR_KEEP_PREMIUM_FEATURES}}}</h3>
         {{{PART_PREMIUM_DESC}}}
       </div>
       {{{PART_FOOTER}}}
     </div>
   </div>