 <div class='news-wrapper'>
   <div class='news-head light-gray''>
     <img src=' {{{STR_VAR_ICON}}}' />
 </div>
 <div class='message-container'>
   <h3 class='h3 ta-c mt-20'>{{{STR_MOTIVATION_SOCIAL}}}</h3>
   <div class="base-text p-15 mt-10 ta-c">{{{STR_MOTIVATION_SOCIAL_DESC}}}</div>
   <div data-news="confirm" class='button-news blue-button-social mt-20'>{{{STR_FOLLOW}}}</div>
   <div data-news="cancel" class='later ta-c mt-10'>{{{STR_LATER}}}</div>
 </div>