 <div class='news-wrapper'>
   <div class='news-head extra-light-purple p-rel ''>
     <img src=' {{{IMG_FRIENDSHIP_PNG}}}' />
   <img src=' {{{IMG_DISCOUNT_PNG}}}' class='discount' />
 </div>
 <div class='message-container'>
   <h3 class='h3 ta-c mt-20'>{{{STR_YOUR_TIME_WITH_YAMFIT}}}</h3>
   <h3 class='h3 ta-c mt-10'>{{{STR_GIFT_FOR_PRO}}}</h3>
   <div class="base-text p-15 ta-c">{{{STR_TOGETHER_WITH_YAMFIT_DESC}}}</div>
   <div data-news="confirm" class='button-news  purple-main mt-20'>{{{STR_TAKE_GIFT}}}</div>
   <div data-news="cancel" class='later ta-c mt-10'>{{{STR_LATER}}}</div>
 </div>