<div class='wrapper'>
  {{{PART_HEADER}}}
  <div class='message-wrapper'>
    <div class='message-body'>
      <div class='message-container'>
        <h3 class='h3 mt-10'>{{{STR_YOUR_TIME_WITH_YAMFIT}}}</h3>
        <div class='avatar mt-20'> <img src='{{{IMG_FRIENDSHIP_PNG}}}' /></div>
        <p class="base-text">{{{STR_TIME_WITH_YAMFIT_DESC}}}</p>
      </div>
      <div class='footer'>
        <div class='mt-20 pb-15'> <img src='{{{IMG_GIFT_PNG}}}' class='social-item d-b m-0a' />
          <h3 class='h3 pt-10 ta-c'>{{{STR_GIFT_FOR_PRO}}}</h3>

        </div>
        <div>
          {{{PART_GIFT_FOR_PRO}}}
        </div>
        <a href='{{{LINK_OPEN_PREMIUM_LINK}}}' class='button button-large mt-10 mb-10'>{{{STR_REDEEM}}}</a>
      </div>
      <div class='footer'>
        <h3 class='h3 mt-20'>{{{STR_ASKED_QUESTIONS}}}</h3>
        <div class='p-15'>
          {{{PART_ASKED_QUESTIONS}}}
        </div>
        <a href='{{{LINK_OPEN_FAQ_LINK}}}' class='button button-large mt-10 mb-10'>{{{STR_EXPLORE_FAQ}}}</a>
      </div>
      <div class='footer'>
        <h3 class='h3 mt-20'>{{{STR_HEALTHY_LIVING_BLOG}}}</h3>
        <div class='p-15'>
          {{{PART_HEALTHY_LIVING}}}
        </div>
        <a href='{{{LINK_OPEN_BLOG_LINK}}}' class='button button-large mt-10 mb-10'>{{{STR_DISCOVER_BLOG}}}</a>
      </div>
      {{{PART_JOIN_YAMFIT_FAMILY}}}
      {{{PART_FOOTER}}}
    </div>
  </div>