<div class='wrapper'>
  {{{PART_HEADER}}}
  <div class='message-wrapper'>
    <div class='message-body'>
      <div class='message-container'>
        <h3 class='h3 mt-10'>{{{STR_CONFIRM_EMAIL}}}</h3>
        <div class='avatar mt-20'> <img src='{{{IMG_EMAIL_PNG}}}' /></div>
        <p class="base-text">{{{STR_CONFIRM_EMAIL_DESC}}}</p>
        <a href='{{{LINK_VERIFY_EMAIL_LINK}}}' class='button button-large mt-10'>{{{STR_CLICK_TO_CONFIRM}}}</a>
      </div>
      {{{PART_FOOTER}}}
    </div>