<div class='video-container'>
  <div class='video-wrapper'>
    <div class='video-background'>
      <div data-news="confirm" class='round'></div>
      <h4 class='video-title ta-c w-55 m-0a'>{{{STR_WATCH}}}</h4>
      <span class='ta-c video-desc'>{{{STR_YAMFIT_TUTORIAL}}}</span>
    </div>
  </div>
</div>