 <div class='news-wrapper'>
   <div class='news-head blue-plus ai-c jc-c''>
     <img src=' {{{IMG_WATER_PNG}}}' />
 </div>
 <div class='message-container'>
   <h3 class='h3 ta-c mt-20'>{{{STR_WATER_BALANCE}}}</h3>
   <div class="base-text p-15 mt-10 ta-c">{{{STR_WATER_BALANCE_DESC}}}</div>
   <div data-news="confirm" class='button-news blue-button mt-20'>{{{STR_OK}}}</div>
 </div>