<div class='news-wrapper'>
  <div class='news-head cyanic-light ai-c jc-c'>
    <div class=' footer-wrapper ai-c'>
      <img src=' {{{IMG_WELCOME_PNG}}}' />
    </div>
  </div>
  <div class='message-container'>
    <h3 class='h3 ta-c mt-20'>{{{STR_WELCOME_TO_YAMFIT}}}</h3>
    <div class="base-text p-15 mt-10 ta-c">{{{STR_WELCOME_TO_YAMFIT_DESC}}}</div>
    <div data-news="confirm" class='button-news  purple-main mt-20'>{{{STR_START}}}</div>
  </div>
