<div class='wrapper'>
  {{{PART_HEADER}}}
  <div class='message-wrapper'>
    <div class='message-body'>
      <div class='message-container'>
        <h3 class='h3 mt-10'>{{{STR_WELCOME_TO_YAMFIT}}}</h3>
        <div class='avatar mt-20'> <img src='{{{IMG_JOIN_PNG}}}' /></div>
        <p class="base-text">{{{STR_WELCOME_TO_YAMFIT_DESC}}}</p>
      </div>
      {{{PART_FIRST_STEPS}}}
      {{{PART_JOIN_YAMFIT_FAMILY}}}
      {{{PART_FOOTER}}}
    </div>
  </div>